/* Tooltip tại folder */
section .overlay_tooltip-folder {
  background-color: transparent;
  z-index: 10;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.ant-tooltip-inner {
  width: max-content;
}
.ant-select-selector {
  border: none !important;
}
main {
  height: calc(100vh - 9rem);
}
.folder_tree-list {
  height: calc(100vh - 12rem);
}
.modal .modal-container {
  position: fixed;
  max-height: calc(100vh - 150px);
  width: 800px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 31;
}
