#NSHomePage .NS_header ul{
    width: 70%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    padding: 10px 0;
}
#NSHomePage .NS_header ul li {
    text-decoration: none;
    background-color: white;
    border: 1px #01b4e2 solid;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    color: black;
    transition: all 0.5s;
    cursor: pointer;
}
#NSHomePage .NS_header .active {
    background: #119ace;
    color: white
}
#NSHomePage .NS_header ul li:hover{
    background: #5fdfff;
    color: white;
}
#phongBan{
    border-right: 1px solid #d5d5d5;
}
#phongBan .folder{
    border-bottom: 2px solid #d5d5d5;
}
#phongBan .nv-list{
    transition: all 0.5s;
}
/* ::-webkit-scrollbar {
    width: 5px;
  } */
.ant-btn-primary{
    background: #01b4e2;
}
#BangCongMenu, #LuongTongMenu {
    background-color: #d5d5d5;
    padding: 10px;
}
#BangCongMenu input, #BangCongMenu select, #bangLuongTong select, #LuongTongMenu input {
    padding: 3px;
    border-radius: 5px;
    font-size: 15px;
}
#BangCongMenu input:focus, #BangCongMenu select:focus, #BangCongMenu input:focus-visible, #LuongTongMenu select:focus, #LuongTongMenu input:focus{
    border: solid 1px #01b4e2 ;
    outline: none;
}
#ChamTay table thead,#ChamMay table thead, #nhanVienDetail table thead, #taoBangLuong table thead, #bangLuongTong table thead{
    background-color: #01b4e2;
    color: white;
}
#ChamTay table thead th:first-child,#ChamMay table thead th:first-child{
    min-width: 200px;
}
#ChamTay table thead th, #nhanVienDetail table thead th, #taoBangLuong table thead th, #bangLuongTong table thead th{
    min-width: 70px;
    border: 1px solid #119ace;
}
#ChamTay table tbody td,#ChamMay table tbody td, #nhanVienDetail table tbody td, #taoBangLuong table tbody td, #bangLuongTong table tbody td{
    min-width: 70px;
    border: 1px solid #119ace;
    padding: 5px 0;
    font-size: 16px;
}
#ChamTay table tbody tr:hover td, #ChamMay table tbody tr:hover td, #taoBangLuong table tbody tr:hover td, #bangLuongTong table tbody tr:hover td{
    background-color: #5fdfff;
}
#ChamMay table thead th{
    min-width: 150px;
    border: 1px solid #119ace
}
/* check box */
.checkbox-wrapper-33 {
  --s-xsmall: 0.625em;
  --s-small: 1.2em;
  --border-width: 1px;
  --c-primary: #5F11E8;
  --c-primary-20-percent-opacity: rgb(95 17 232 / 20%);
  --c-primary-10-percent-opacity: rgb(95 17 232 / 10%);
  --t-base: 0.4s;
  --t-fast: 0.2s;
  --e-in: ease-in;
  --e-out: cubic-bezier(.11,.29,.18,.98);
}

.checkbox-wrapper-33 .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.checkbox-wrapper-33 .checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.checkbox-wrapper-33 .checkbox + .checkbox {
  margin-top: var(--s-small);
}
.checkbox-wrapper-33 .checkbox__symbol {
  display: inline-block;
  display: flex;
  margin-right: calc(var(--s-small) * 0.7);
  border: var(--border-width) solid var(--c-primary);
  position: relative;
  border-radius: 0.1em;
  width: 1.5em;
  height: 1.5em;
  transition: box-shadow var(--t-base) var(--e-out), background-color var(--t-base);
  box-shadow: 0 0 0 0 var(--c-primary-10-percent-opacity);
}
.checkbox-wrapper-33 .checkbox__symbol:after {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 0.25em;
  height: 0.25em;
  background-color: var(--c-primary-20-percent-opacity);
  opacity: 0;
  border-radius: 3em;
  transform: scale(1);
  transform-origin: 50% 50%;
}
.checkbox-wrapper-33 .checkbox .icon-checkbox {
  width: 1em;
  height: 1em;
  margin: auto;
  fill: none;
  stroke-width: 3;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  color: var(--c-primary);
  display: inline-block;
}
.checkbox-wrapper-33 .checkbox .icon-checkbox path {
  transition: stroke-dashoffset var(--t-fast) var(--e-in);
  stroke-dasharray: 30px, 31px;
  stroke-dashoffset: 31px;
}
.checkbox-wrapper-33 .checkbox__textwrapper {
  margin: 0;
}
.checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol:after {
  -webkit-animation: ripple-33 1.5s var(--e-out);
          animation: ripple-33 1.5s var(--e-out);
}
.checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol .icon-checkbox path {
  transition: stroke-dashoffset var(--t-base) var(--e-out);
  stroke-dashoffset: 0px;
}
.checkbox-wrapper-33 .checkbox__trigger:focus + .checkbox__symbol {
  box-shadow: 0 0 0 0.25em var(--c-primary-20-percent-opacity);
}

@-webkit-keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(20);
  }
}

@keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(20);
  }
}


/*  */
:where(.css-dev-only-do-not-override-14wwjjs).ant-switch.ant-switch-checked {
  background: #1677ff !important;
}